<footer>
    <!--
    <div class="footer__pagination">
        <div class="content-container">
            <div class="footer__pagination__content">
                
                <a href="/pages/overview/whatisdls.html">
                    <p>About DLS</p>
                </a>
            </div>
        </div>
    </div>
    -->
    <div class="footer">
        <div class="content-container">
            <div class="footer__row">
                <div class="footer__contact">
                    <div class="footer__contact__content">
                        <div class="footer__contact__content__email">
                            <div class="footer__contact__content__info">
                                <p>Have any questions?</p>
                                <a href="/support/faq/">Read our FAQs</a>
                            </div>
                        </div>
                        <div class="footer__contact__content__slack">
                            <div class="footer__contact__content__info">
                                <p>Get the latest from the community</p>
                                <a href="#">Join #dls on Slack</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="footer__links">
                    <ul>
                        <li>Editorial policies</li>
                        <li>Terms of use</li>
                        <li>Contact us</li>
                        <li>FAQ</li>
                    </ul>
                </div> -->
                
            </div>
        </div>
    </div>
    
</footer>