<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>DLS – {{title}}</title>
<meta property="og:title" content="<%- title %>">
<meta property="og:description" content="<%- description %>">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="manifest" href="site.webmanifest">
<!--<link rel="apple-touch-icon" href="icon.png">-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
<link rel="stylesheet" href="/css/vendor/formalize.min.css">
<link rel="stylesheet" href="/css/defaults.min.css">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/print.css">


