<!--Home page template-->

<div class="hero">
    <div class="content-container">
        {% if title %}<h1>{{title}}</h1>{% endif %}
        <p>{{description}}</p>
        <p><a href="/guidelines/about-dls/">Read more about DLS</a></p>
    </div> 
</div>
<div class="home-section">
    <div class="content-container">
        <section class="home-section__get-started">
            <h2>Get started</h2>
            <div class="home-section__get-started__row">
                <div class="home-section__get-started__item">
                    <a href="/guidelines/getting-started/">
                        <h3>Designers</h3>
                    </a>
                </div>
                <div class="home-section__get-started__item">
                    <a href="/guidelines/developers/">
                        <h3>Developers</h3>
                    </a>
                </div>
                <!-- <div class="home-section__get-started__item">
                    <a href="/pages/overview/brand-guide.html">
                        <h3>Brand style guides</h3>
                    </a>
                </div> -->
            </div>                        
        </section>
        <section class="home-section__resources">
            <div class="whats-new">
                <h2>What's new</h2>
                <p>Latest updates to components and guidelines</p>
                <div class="whats-new__content">
                    <div class="whats-new__content__item">
                        <span>june 2, 2020</span>
                        <h4><a href="#">Buttons</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    </div>
                    <div class="whats-new__content__item">
                        <span>april 24, 2020</span>
                        <h4><a href="#">Accordion</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    </div>
                    <div class="whats-new__content__item">
                        <span>march 30, 2020</span>
                        <h4><a href="#">Audio</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    </div>
                </div>
                <div class="whats-new__buttons">
                    <a href="/roadmap/whats-new/">View all</a>
                    <a href="/roadmap/coming-up/">What's coming up</a>
                </div>
            </div>
            <div class="popular-resources">
                <h2>Design resources</h2>
                <div class="popular-resources__container">
                    <div class="popular-resources__content">
                        <div class="popular-resources__item">
                            <div class="popular-resources__item__heading">
                                <a href="#" class="popular-resources__item__heading__icon popular-resources__item__heading__icon--abstract"></a>
                                <a href="#" class="popular-resources__item__heading__title">DLS Web Components library</a>
                            </div>
                            <div class="popular-resources__item__link">
                                <span>1.2MB</span>
                                <a href="#" class="popular-resources__item__link__icon external-link"></a>
                            </div>
                        </div>
                        <div class="popular-resources__item">
                            <div class="popular-resources__item__heading">
                                <a href="#" class="popular-resources__item__heading__icon popular-resources__item__heading__icon--sketch"></a>
                                <a href="#" class="popular-resources__item__heading__title">DLS colour palette</a>
                            </div>
                            <div class="popular-resources__item__link">
                                <span>1.2MB</span>
                                <a href="#" class="popular-resources__item__link__icon download"></a>
                            </div>
                        </div>
                        <div class="popular-resources__item">
                            <div class="popular-resources__item__heading">
                                <a href="#" class="popular-resources__item__heading__icon popular-resources__item__heading__icon--file"></a>
                                <a href="#" class="popular-resources__item__heading__title">ABC icons</a>
                            </div>
                            <div class="popular-resources__item__link">
                                <span>1.2MB</span>
                                <a href="#" class="popular-resources__item__link__icon download"></a>
                            </div>
                        </div>
                        <div class="popular-resources__item">
                            <div class="popular-resources__item__heading">
                                <a href="#" class="popular-resources__item__heading__icon popular-resources__item__heading__icon--file"></a>
                                <a href="#" class="popular-resources__item__heading__title">ABC Sans font family</a>
                            </div>
                            <div class="popular-resources__item__link">
                                <span>1.2MB</span>
                                <a href="#" class="popular-resources__item__link__icon download"></a>
                            </div>
                        </div>
                        <div class="popular-resources__item">
                            <div class="popular-resources__item__heading">
                                <a href="#" class="popular-resources__item__heading__icon popular-resources__item__heading__icon--file"></a>
                                <a href="#" class="popular-resources__item__heading__title">DLS web icons</a>
                            </div>
                            <div class="popular-resources__item__link">
                                <span>1.2MB</span>
                                <a href="#" class="popular-resources__item__link__icon download"></a>
                            </div>
                        </div>
                        <a href="/resources/" class="popular-resources__button">See more resources</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="home-section__brands">
            <h2>Brands</h2>
            <p>View and download the style guides for these brands</p>
            <ul>
                <li class="brands__item">
                    <a href="/guidelines/brand-style-guides/">
                        <div class="brands__item__content">
                            <h4>Masterbrand</h4>
                        </div>
                    </a>
                </li>
                <li class="brands__item">
                    <a href="/guidelines/brand-style-guides/">
                        <div class="brands__item__content">
                            <h4>News</h4>
                        </div>
                    </a>
                </li>
                <li class="brands__item">
                    <a href="/guidelines/brand-style-guides/">
                        <div class="brands__item__content">
                            <h4>Life</h4>
                        </div>
                    </a>
                </li>
                <li class="brands__item">
                    <a href="/guidelines/brand-style-guides/">
                        <div class="brands__item__content">
                            <h4>listen</h4>
                        </div>
                    </a>
                </li>
                <li class="brands__item">
                    <a href="/guidelines/brand-style-guides/">
                        <div class="brands__item__content">
                            <h4>triple j</h4>
                        </div>
                    </a>
                </li>
                <li class="brands__item">
                    <a href="/guidelines/brand-style-guides/">
                        <div class="brands__item__content">
                            <h4>ABC Kids</h4>
                        </div>
                    </a>
                </li>
                <li class="brands__item">
                    <a href="/guidelines/brand-style-guides/">
                        <div class="brands__item__content">
                            <h4>ABC ME</h4>
                        </div>
                    </a>
                </li>
                <li class="brands__item">
                    <a href="/guidelines/brand-style-guides/">
                        <div class="brands__item__content">
                            <h4>iview</h4>
                        </div>
                    </a>
                </li>
            </ul>
        </section>
    </div>
</div><!--/home-sections-->